# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore local virtual environment directory
.venv/

# Ignore images in local directory
local_images/

static/html/
static/images/
